---
import "@fontsource/open-sans/300.css";
import "@fontsource/open-sans/400.css";
import "@fontsource/open-sans/600.css";
import "@fontsource/open-sans/800.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✍️</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Right the Rules</title>
  </head>
  <body
    class="min-h-screen flex justify-center items-center bg-[#e28c99] border-8 border-sol border-white text-white font-sans"
  >
    <div class="px-12">
      <h1
        title={`email hello@suneet.codes`}
        class="text-white font-normal text-[clamp(1.5rem,_5vw,_5vw)] text-center"
      >
        <span class="font-semibold">Right</span>
        <span class="font-light">the</span>
        <span class="font-semibold">Rules</span>
      </h1>
      <div class="my-8 mx-auto py-0 px-4">
        <h2 class="font-light text-center text-[clamp(1rem,_2vw,_2vw)]">
          Helping you{" "}
          <span>
            do <span class="underline">compliance</span>, <span
              class="underline">change</span
            > and <span class="underline">culture</span> with people in mind.</span
          >
        </h2>
      </div>
      <div class="flex items-center justify-center gap-4">
        <a href="https://www.linkedin.com/in/satvinder-misra/" title="LinkedIn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-[clamp(2.5rem,_5vw,_5vw)] w-[clamp(2.5rem,_5vw,_5vw)]"
            viewBox="0 0 1536 1536"
            ><path
              fill="currentColor"
              d="M237 1286h231V592H237v694zm246-908q-1-52-36-86t-93-34t-94.5 34t-36.5 86q0 51 35.5 85.5T351 498h1q59 0 95-34.5t36-85.5zm585 908h231V888q0-154-73-233t-193-79q-136 0-209 117h2V592H595q3 66 0 694h231V898q0-38 7-56q15-35 45-59.5t74-24.5q116 0 116 157v371zm468-998v960q0 119-84.5 203.5T1248 1536H288q-119 0-203.5-84.5T0 1248V288Q0 169 84.5 84.5T288 0h960q119 0 203.5 84.5T1536 288z"
            ></path></svg
          >
        </a>
        <a href="https://github.com/sun33t" title="GitHub" class="text-sm">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-[clamp(2.5rem,_5vw,_5vw)] w-[clamp(2.5rem,_5vw,_5vw)]"
            viewBox="0 0 1536 1536"
            ><path
              fill="currentColor"
              d="M1248 0q119 0 203.5 84.5T1536 288v960q0 119-84.5 203.5T1248 1536H288q-119 0-203.5-84.5T0 1248V288Q0 169 84.5 84.5T288 0h960zm32 1056V620q-31 35-64 55q-34 22-132.5 85T932 859q-98 69-164 69t-164-69q-47-32-142-92.5T320 674q-12-8-33-27t-31-27v436q0 40 28 68t68 28h832q40 0 68-28t28-68zm0-573q0-41-27.5-70t-68.5-29H352q-40 0-68 28t-28 68q0 37 30.5 76.5T354 621q47 32 137.5 89T621 793q3 2 17 11.5t21 14t21 13t23.5 13T725 854t22.5 7.5T768 864t20.5-2.5T811 854t21.5-9.5t23.5-13t21-13t21-14t17-11.5l267-174q35-23 66.5-62.5T1280 483z"
            ></path></svg
          >
        </a>
      </div>
    </div>
  </body>
</html>
